*.eiffel linguist-detectable=true  
*.assembly linguist-detectable=false  
*.jack linguist-detectable=false  
*.vm linguist-detectable=false  
*.xml linguist-detectable=false  
*.asm linguist-detectable=false  
*.jack linguist-detectable=false  
